/* I must implement this solution in order to make only 4 items in the row
https://stackoverflow.com/questions/29546550/flexbox-4-items-per-row
 */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.CalculatorInputs {
  border: 1px solid #ddd;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
 align-content: flex-start;
}

.CalculatorInputs label, button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
  font-size: 15px;
  align-content: space-around
}

.CalculatorInputs form {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
  font-size: 15px;
  padding: 15px;
  align-content: space-around
}

.CalculatorInputs input {
  height: 35px;
  border: 1px solid #ddd;
  font-size: 15px;
  padding-left: 15px;
  align-content: space-around
}

.CalculatorInputs button {
  background-color: #4CAF50;
  color: white;
  font-size: 15px
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */

#CalculatorOutputTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#CalculatorOutputTable td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#CalculatorOutputTable tr:nth-child(even){background-color: #f2f2f2;}

#CalculatorOutputTable tr:hover {background-color: #ddd;}

#CalculatorOutputTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}